<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'task_tracker:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'task_tracker:pupil-list' %}">All pupils</a></li>
  <li class="list-group-item"><a href="{% url 'task_tracker:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'task_tracker:educational-stage-list' %}">All Educational stages</a></li>
  <li class="list-group-item"><a href="{% url 'task_tracker:task-type-list' %}">All Task Types</a></li>
</ul>
